.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-section h2 {
  justify-content: center;
}

.about-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.about-img {
  height: 75vh;
  overflow: hidden;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.about-img img {
  max-height: 75vh;
}

.about-description {
  max-width: 90%;
  margin: 0 auto;
}

/* =================================== */
/* Desktop screen size */
/* =================================== */

@media screen and (min-width: 750px) {
  .about-content {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .about-img {
    width: 45%;
  }

  .about-img img {
    max-height: 75vh;
  }

  .about-description {
    max-width: 45%;
  }
}
