.footer {
  position: absolute;
  text-align: center;
  width: 100%;
  background: #001524;
  margin: 0;
}

.attribution {
  font-size: x-small;
  margin: 0;
}

.footer a,
.footer a:visited {
  color: #ffecd1;
}

@media screen and (min-width: 600px) {
  .footer {
    text-align: right;
    width: 80%;
    right: 0;
    margin-top: 20px;
    margin-right: 5px;
  }

  .attribution {
    width: 100%;
  }
}
