.nav {
  float: left;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-list li {
  display: inline;
  padding-right: 2%;
  color: #15616d;
  font-weight: bold;
  text-decoration: underline;
}

li a,
li a:visited {
  color: #15616d;
  font-size: 1.25rem;
}
