.skill-item {
  display: flex;
  flex-direction: row;
  background: linear-gradient(145deg, #8a8a8a, #a4a4a4);
  box-shadow: 2px 2px 4px #979797, -2px -2px 4px #9b9b9b;
}

.skill-item-logo {
  max-height: 50px;
  max-width: 50px;
}

.skill-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-weight: 900;
}
